@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}
.App {
  min-height: 100vh;
  display: flex;
  scrollbar-width: none;
  background: linear-gradient(90deg, #002347, #081437, #050d31);
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  min-height: 100vh; /* Ensures it covers at least the full viewport height */
}
